name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [8, 11, 17]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: ${{ matrix.java }}
      - uses: sbt/setup-sbt@v1
      - run: sbt scripted +test

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: 17
      - uses: sbt/setup-sbt@v1
      - run: sbt checkAll
