name: Sourcegraph
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lsif:
    runs-on: ubuntu-latest
    name: "Upload SCIP"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: 17
      - uses: sbt/setup-sbt@v1
      - run: sbt dumpVersion publishLocal
      - run: echo "addSbtPlugin(\"com.sourcegraph\" % \"sbt-sourcegraph\" % \"$(cat VERSION)\")" > project/sourcegraph_generated.sbt
      - run: sbt sourcegraphEnable sourcegraphScip
      - run: yarn global add @sourcegraph/src
      - run: |
          mv target/sbt-sourcegraph/index.scip index.scip
          src code-intel upload "-commit=${GITHUB_SHA}" "-github-token=${GITHUB_TOKEN}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SRC_ACCESS_TOKEN: ${{ secrets.SRC_ACCESS_TOKEN }}
          SRC_ENDPOINT: https://sourcegraph.sourcegraph.com
